.forget-password-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.left-section {
  width: 50%;
  background-color: #F5FAFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  width: 80%;
  max-width: 400px;
  background: transparent;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.form-box h2 {
  font-size: 30px;
  font-weight: 600;
  color: #363636;
  margin-bottom: 0;
}

.subtext {
  font-size: 16px;
  font-weight: 400;
  color: #9C9C9C;
  margin: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 1rem;
}

.form-box label {
  font-weight: 600;
  font-size: 15px;
  color: #363636;
}

.form-box input {
  padding: 15px;
  border: 1.2px solid rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  font-size: 14px;
}

.send-button {
  background-color: #7392F9;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
  height: 48px;
  width: 100%;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.send-button:hover {
  background-color: #5f7ee8;
}

.right-section {
  width: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.right-section img {
width: 550px;
height: 550px;
}
