.login-container {
  display: flex;
  height: 100vh;
}

.login-left {
  flex: 1;
  background-color: #F5FAFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.login-title {
  font-size: 30px;
  font-weight: 600;
  color: #363636;
  margin-bottom: 8px;
}

.login-subtitle {
  color: #9C9C9C;
  font-size: 18px;
}

.login-form {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
}

.label-data {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 6px;
  color: #363636;
}


.login-form input {
  padding: 15px;
  border: 1.2px solid #0000001F;
  border-radius: 6px;
  margin-bottom: 14px;
  font-size: 14px;
}

.forgot-password {
  text-align: right;
  margin-bottom: 16px;
}

.forgot-password a {
  font-size: 15px;
  color: #7392F9;
  font-weight: 600;
  text-decoration: none !important;
}

.login-buttonn {
  background-color: #7392F9;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 16px;
  height: 50px;
}

.login-button:hover {
  background-color: #5663e0;
}

.register-link {
  font-size: 18px;
  color: #666;
  text-align: center;
}

.register-link a {
  color: #7392F9;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
}

.login-right {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-image {
  height: 550px;
  width: 550px;
}

.error-message {
  color: red;
  font-size: 13px;
  margin: -10px 0 10px;
}
