.new-password-container {
  display: flex;
  height: 100vh;
}

.new-password-left {
  flex: 1;
  background-color: #F5FAFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  width: 100%;
  max-width: 350px;
}

.form-box h2 {
  font-size: 30px;
  font-weight: 600;
  color: #363636;
  margin-bottom: 8px;
}

.form-box p {
  font-size: 18px;
  color: #9C9C9C;
  margin-bottom: 20px;
}

.form-box label {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 6px;
  color: #363636;
}

.form-box input {
   padding: 15px;
  border: 1.2px solid #0000001F;
  border-radius: 6px;
  margin-bottom: 14px;
  font-size: 14px;
}

.form-box button {
  width: 100%;
  padding: 10px 12px;
  background-color: #7392F9;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
}

.new-password-right {
  flex: 1;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-password-right img {
 height: 550px;
 width: 550px;
}
