.new-password-container {
  display: flex;
  height: 100vh;
}

.new-password-left {
  flex: 1;
  background-color: #F5FAFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-box {
  width: 100%;
  max-width: 350px;
}

.form-box h2 {
  font-size: 30px;
  font-weight: 600;
  color: #363636;
}

.form-box p {
  font-size: 18px;
  color: #9C9C9C;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.form-group label {
  font-weight: 600;
  font-size: 16px;
  color: #363636;
}

.form-group input {
  padding: 15px;
  border: 1.2px solid #0000001F;
  border-radius: 6px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.form-box button {
  width: 100%;
  padding: 15px;
  background-color: #7392F9;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
  margin-top: 10px;
}

.new-password-right {
  flex: 1;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-password-right img {
  height: 550px;
  width: 550px;
}