#main-div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

ul {
  display: flex;
  gap: 50px;
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  font-size: 18px;

  font-weight: bold;
}
img {
  height: 39px;
  width: 231px;
}
