.signup-container {
  display: flex;
  height: 100vh;
}

.signup-left {
  flex: 1;
  background-color: #F5FAFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form-box {
  width: 100%;
  max-width: 350px;
}

.signup-form-box h2 {
  font-size: 30px;
  font-weight: 600;
  color: #363636;
  margin-bottom: 8px;
}

.signup-form-box p {
  font-size: 18px;
  color: #9C9C9C;
  margin-bottom: 20px;
}

.signup-form-box label {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 6px;
  color: #363636;
}

.signup-form-box input[type="text"],
.signup-form-box input[type="password"] {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 13px;
}

.file-upload-box {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.file-upload-box input[type="file"] {
  font-size: 12px;
  color: #555;
}

.file-upload-box button {
  background-color: #7392F9;
  border: none;
  padding: 8px 12px;
  color: white;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
}

.signup-btn {
  width: 100%;
  padding: 10px 12px;
  background-color: #7392F9;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 10px;
}

.login-link {
  font-size: 13px;
  text-align: center;
  color: #555;
}

.login-link a {
  color: #7392F9;
  text-decoration: none;
  margin-left: 4px;
}

.signup-right {
  flex: 1;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-right img {
width: 550px;
height: 550px;
}
