.otp-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.otp-left {
  width: 50%;
  background-color: #F5FAFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.otp-box {
  text-align: center;
  max-width: 400px;
  width: 90%;
}

.otp-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #363636;
}

.otp-subtitle {
  font-size: 18px;
  color: #9C9C9C;
  margin-bottom: 2rem;
}

.otp-input-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 1.5rem;
}

.otp-input {
  width: 45px;
  height: 45px;
  font-size: 20px;
  text-align: center;
  border: 1px solid #0000001F;
  border-radius: 8px;
  background: #FFFFFF;
}

.otp-right {
  width: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.otp-image {
height: 550px;
  width: 550px;
}

.verify-btn {
  width: 100%;
  padding: 0.75rem;
  background-color: #7392F9;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.verify-btn:hover {
  background-color: #3c5bc2;
}
